@import "mixin";
@import "font-face";

body {
    background: #f1eff1;
    font-size: 14pt;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.centering {
    width: 960px;
    margin: 0 auto !important;
    overflow: hidden;
}

.content-box {
    width: 800px;
    float: right;
}

header {
    @include header-background;
    border-bottom: 1px solid #9d7070;
    padding: 41px 0 10px;

    .logo {
        font-family: Museo, sans-serif;
        font-size: 60pt;
        font-weight: bold;
        color: #FFFFFF;
        display: inline-block;

        text-shadow: 0 0 5px #404040;

        .white-part {
            color: #000000;
        }

        .small-part {
            font-size: 12pt;
            vertical-align: top;
            display: inline-block;
        }
    }

    .top-menu {
        display: inline-block;
        margin-left: 52px;
        li {
            display: inline-block;
            margin-left: 13px;
            &:first-child {
                margin-left: 0;
            }

            a {
                color: #FFFFFF;
                font-size: 10pt;
                font-weight: bold;
                vertical-align: super;
            }

            &.fb-login a {
                display: block;
                background: url('../img/f-login.png');
                height: 22px;
                width: 69px;
            }
        }
    }

    .sign-in-bar {
        background: #960000;
        @include border-radius(3px);
        position: relative;
        padding: 26px 19px;
        margin-top: 20px;

        &:before {
            content: ' ';
            position: absolute;
            border: 18px solid transparent;
            border-bottom: 12px solid #960000;
            top: -29px;
            left: 31px;
        }

        .slogan {
            display: inline-block;
            font-size: 15pt;
            color: #FFFFFF;

            .bold-text {
                font-weight: bold;
            }
        }

        input {
            display: inline-block;
            -webkit-box-shadow: inset 0 0 3px 3px #CFCFCF;
            box-shadow: inset 0 0 3px 3px #CFCFCF;
            padding: 9px 67px 7px 15px;
            margin-left: 42px;

            color: #b70000;
            border: none;
        }
        .yellow-button {
            float: right;
        }

    }

    .yellow-button {
        @include button-background;
        font-size: 18px;
        color: #960000;
        padding: 7px 9px;
        position: relative;

        -webkit-border-radius: 3px;
        border-radius: 3px;

        &:before {
            content: ' ';
            @include button-background;
            height: 11px;
            width: 11px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            left: -5px;
            top: 32%;
        }
    }

    .main-deal {
        background: #FFFFFF;
        @include border-radius(3px);
        margin-top: 15px;
        padding: 10px;
        float: right;

        .action {
            background: #f2f2f2;
            @include border-radius(2px);
            padding: 15px 18px;
            margin-bottom: 10px;

            .action-title {
                font-size: 26pt;
                font-weight: bold;
                color: #000000;
                margin-bottom: 10px;
            }

            .about-action {
                font-size: 14pt;
                line-height: 23px;
                color: #595959;
            }
        }

        .action-photo {
            display: inline-block;
            height: 263px;
            width: 380px;
        }

        .promo {
            background: #000000;
            display: inline-block;
            height: 263px;
            width: 380px;
            @include border-radius-child(2px);
            position: relative;
            float: right;

            .counter {
                background: #000000;
                height: 50px;
                color: #9c9c9c;
                padding: 0 28px 0 10px;

                .text {
                    float: left;
                    font-size: 10pt;
                    padding-top: 20px;
                }

                .clock {
                    float: right;
                    font-size: 20pt;
                    font-weight: bold;
                    padding-top: 14px;

                }
            }

            .price-table {
                background: #2a2a2a;
                @include box-shadow(0, 0, 11px, 3px, #000, inset);
                height: 213px;
                padding: 35px 10px 10px 10px;
                position: relative;

                .price {
                    display: inline-block;
                    color: #FFFFFF;
                    font-size: 36pt;
                    font-weight: bold;
                }

                .yellow-button {
                    font-size: 22pt;
                    font-weight: bold;
                    padding-left: 16px;
                    float: right;
                    width: 190px;

                    &:before {
                        height: 21px;
                        width: 21px;
                        left: -9px;
                        top: 25%;
                    }
                }

                .note {
                    background: url('../img/precent-img.png') no-repeat left center;
                    padding: 5px 0 5px 30px;
                    color: #FFFFFF;
                    font-size: 10pt;
                    float: right;
                    width: 175px;
                }

                .price-counter {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    left: 10px;
                    .total {
                        display: inline-block;
                        background: #212121;
                        @include border-radius(8px);
                        padding: 2px 12px 12px 12px;
                        color: #ffc400;
                        text-align: center;
                        font-size: 22pt;
                        font-weight: bold;

                        .title {
                            color: #5b5b5b;
                            text-align: right;
                            margin-bottom: 2px;
                            font-size: 10pt;
                        }
                    }
                }
            }

            &:before {
                content: ' ';
                position: absolute;
                border: 10px solid transparent;
                border-right: 5px solid #000;
                top: 18px;
                left: -14px;
            }
        }

        .bottom-information {
            float: right;

            .fn {
                color: #2a2a2a;
                font-size: 8pt;
                vertical-align: middle;

                .read-more {
                    color: #df0000;
                    text-decoration: underline;
                }

                &:before {
                    content: '* ';
                }
            }

            .twitter-like {
                border: 1px solid #2a2a2a;
                display: inline-block;
                width: 96px;
                height: 19px;
                vertical-align: middle;
            }

            .facebook-like {
                border: 1px solid #2a2a2a;
                display: inline-block;
                height: 19px;
                width: 76px;
                vertical-align: middle;
            }
        }
    }

    .side-menu {
        float: left;
        width: 160px;

        .deal-day {
            background: #FFFFFF;
            @include border-radius(5px);
            padding: 24px 10px 20px 10px;
            color: #960000;
            position: relative;
            width: 135px;
            margin-top: 15px;

            .date-title {
                line-height: 22px;
            }

            .day {
                font-size: 32pt;
                text-align: center;
                font-weight: bold;
            }

            &:after {
                content: ' ';
                position: absolute;
                border: 17px solid transparent;
                border-left: 8px solid #FFFFFF;
                top: 16px;
                right: -24px;
            }
        }

        .left-bar {
            color: #929292;
            font-size: 12pt;
            margin-top: 20px;

            li {
                background: #2a2a2a;
                @include border-radius-left(4px);
                width: 160px;
                padding: 15px 12px;
                margin-bottom: 1px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    color: #ffc400;
                }
            }
        }
    }
}

main {

    .main-adv {
        width: 160px;
        float: left;
        padding-top: 20px;

        .adv {
            height: 250px;
            width: 150px;
            border: 1px solid #2a2a2a;
            margin-bottom: 14px;
        }

        .app-store {
            background: url("../img/appStore.png") no-repeat;
            height: 52px;
        }

        .facebook-platform {
            width: 150px;
            height: 258px;
            border: 1px solid #2a2a2a;
            margin-top: 14px;
        }
    }

    .topics {
        margin: 40px 0;
        border-top: 2px groove #FFFFFF;

        .left-content {
            width: 540px;
            margin: 0 10px;
            float: left;
        }

        .right-content {
            width: 220px;
            margin: 0 10px;
            float: right;
            .title {
                background: #e4e4e4;
                color: #7a7a7a;
            }

            .text {
                color: #595959;
            }
        }

        .location {
            width: 540px;
            margin: 10px;
            float: left;
            border-top: 2px groove #FFFFFF;

            .map {
                width: 300px;
                height: 230px;
                border: 1px solid #2a2a2a;
                margin: 40px 10px 0 10px;
                float: left;
            }

            .location-info {
                background: url('../img/maps-point.png') no-repeat top left;
                float: right;
                color: #7d7d7d;
                font-size: 11pt;
                width: 220px;
                padding-left: 50px;
                margin-top: 40px;

                a {
                    display: block;
                    color: #fd0000;

                    &:first-child {
                        margin-top: 13px;
                    }
                }
            }
        }

    }

    .title {
        background: #960000;
        @include border-radius(3px);
        color: #FFFFFF;
        text-transform: uppercase;
        width: 150px;
        text-align: center;
        padding: 14px 0;
        margin: -21px 0 20px 20px;
        font-size: 12pt;
    }

    .text {
        clear: both;
        font-size: 11pt;
        line-height: 24px;
        padding-bottom: 27px;

        .more {
            color: #f90000;
        }
    }

    .topics-wrap {
        overflow: hidden;
    }

    .promo {
        background: #2f2f2f;
        @include border-radius(5px);
        padding-top: 33px;
        overflow: hidden;
        margin-top: 70px;

        .promo-wrap {
            border-top: 2px groove #444;

            .title {
                background: #464646;
                padding-left: 16px;
                padding-right: 16px;
                width: 300px;
            }

            .text {
                display: inline-block;
                width: 540px;
                margin: 0 10px;
                color: #c7c7c7;
                padding-bottom: 0;

                .more {
                    color: #FFFFFF;
                }
            }

            .promo-img {
                width: 540px;
                height: 305px;
                margin: 10px;
                float: left;
            }

            .news-list {
                float: right;
                width: 240px;
                margin: 10px 0;
                padding: 0 10px;
                border-left: 2px groove #444;

                .news {
                    margin-bottom: 32px;

                    .news-img {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .news-content {
                        display: inline-block;
                        width: 140px;
                        font-size: 9pt;
                        color: #FFFFFF;
                        line-height: 14px;
                        vertical-align: top;

                        .news-title {
                            color: #ffc400;
                        }
                    }
                }
            }
        }
    }
}

.ie {
    header {

        .yellow-button {
            &:before {
                content: ' ';
                @include button-background;
                height: 11px;
                width: 11px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                left: -5px;
                top: 32%;
            }
        }

        .main-deal .price-table .note {
            margin-top: 5px;
        }
    }
}