@font-face {
  font-family: "Museo";
  src: url("../fonts/Lifestyle_Marker_M54.eot") format("eot"), url("../fonts/Lifestyle%20Marker%20M54.woff") format("woff"), url("../fonts/Lifestyle%20Marker%20M54.ttf") format("truetype"); }

/* line 4, D:/Projects/UI-test/css/main.scss */
body {
  background: #f1eff1;
  font-size: 14pt;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

/* line 11, D:/Projects/UI-test/css/main.scss */
.centering {
  width: 960px;
  margin: 0 auto !important;
  overflow: hidden; }

/* line 17, D:/Projects/UI-test/css/main.scss */
.content-box {
  width: 800px;
  float: right; }

/* line 22, D:/Projects/UI-test/css/main.scss */
header {
  background: url('../img/header-bg.png'), #f90000;
  /* Old browsers */
  background: url('../img/header-bg.png'), -moz-linear-gradient(top, #f90000 0%, #ff0000 30%, #540000 100%);
  /* FF3.6+ */
  background: url('../img/header-bg.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f90000), color-stop(30%, #ff0000), color-stop(100%, #540000));
  /* Chrome,Safari4+ */
  background: url('../img/header-bg.png'), -webkit-linear-gradient(top, #f90000 0%, #ff0000 30%, #540000 100%);
  /* Chrome10+,Safari5.1+ */
  background: url('../img/header-bg.png'), -o-linear-gradient(top, #f90000 0%, #ff0000 30%, #540000 100%);
  /* Opera 11.10+ */
  background: url('../img/header-bg.png'), -ms-linear-gradient(top, #f90000 0%, #ff0000 30%, #540000 100%);
  /* IE10+ */
  background: url('../img/header-bg.png'), linear-gradient(to bottom, #f90000 0%, #ff0000 30%, #540000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90000', endColorstr='#540000', GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #9d7070;
  padding: 41px 0 10px; }
  /* line 27, D:/Projects/UI-test/css/main.scss */
  header .logo {
    font-family: Museo, sans-serif;
    font-size: 60pt;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
    text-shadow: 0 0 5px #404040; }
    /* line 36, D:/Projects/UI-test/css/main.scss */
    header .logo .white-part {
      color: #000000; }
    /* line 40, D:/Projects/UI-test/css/main.scss */
    header .logo .small-part {
      font-size: 12pt;
      vertical-align: top;
      display: inline-block; }
  /* line 47, D:/Projects/UI-test/css/main.scss */
  header .top-menu {
    display: inline-block;
    margin-left: 52px; }
    /* line 50, D:/Projects/UI-test/css/main.scss */
    header .top-menu li {
      display: inline-block;
      margin-left: 13px; }
      /* line 53, D:/Projects/UI-test/css/main.scss */
      header .top-menu li:first-child {
        margin-left: 0; }
      /* line 57, D:/Projects/UI-test/css/main.scss */
      header .top-menu li a {
        color: #FFFFFF;
        font-size: 10pt;
        font-weight: bold;
        vertical-align: super; }
      /* line 64, D:/Projects/UI-test/css/main.scss */
      header .top-menu li.fb-login a {
        display: block;
        background: url('../img/f-login.png');
        height: 22px;
        width: 69px; }
  /* line 73, D:/Projects/UI-test/css/main.scss */
  header .sign-in-bar {
    background: #960000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url('PIE/PIE.htc');
    position: relative;
    padding: 26px 19px;
    margin-top: 20px; }
    /* line 80, D:/Projects/UI-test/css/main.scss */
    header .sign-in-bar:before {
      content: ' ';
      position: absolute;
      border: 18px solid transparent;
      border-bottom: 12px solid #960000;
      top: -29px;
      left: 31px; }
    /* line 89, D:/Projects/UI-test/css/main.scss */
    header .sign-in-bar .slogan {
      display: inline-block;
      font-size: 15pt;
      color: #FFFFFF; }
      /* line 94, D:/Projects/UI-test/css/main.scss */
      header .sign-in-bar .slogan .bold-text {
        font-weight: bold; }
    /* line 99, D:/Projects/UI-test/css/main.scss */
    header .sign-in-bar input {
      display: inline-block;
      -webkit-box-shadow: inset 0 0 3px 3px #CFCFCF;
      -moz-box-shadow: inset 0 0 3px 3px #CFCFCF;
      box-shadow: inset 0 0 3px 3px #CFCFCF;
      behavior: url('PIE/PIE.htc');
      padding: 9px 67px 7px 15px;
      margin-left: 42px;
      color: #b70000;
      border: none; }
    /* line 108, D:/Projects/UI-test/css/main.scss */
    header .sign-in-bar .yellow-button {
      float: right; }
  /* line 114, D:/Projects/UI-test/css/main.scss */
  header .yellow-button {
    background: #ffc400;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffc400 0%, #ffc300 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc400), color-stop(100%, #ffc300));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc400 0%, #ffc300 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc400 0%, #ffc300 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc400 0%, #ffc300 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffc400 0%, #ffc300 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc300',GradientType=0 );
    /* IE6-9 */
    font-size: 18px;
    color: #960000;
    padding: 7px 9px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url('PIE/PIE.htc'); }
    /* line 123, D:/Projects/UI-test/css/main.scss */
    header .yellow-button:before {
      content: ' ';
      background: #ffc400;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ffc400 0%, #ffc300 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc400), color-stop(100%, #ffc300));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffc400 0%, #ffc300 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffc400 0%, #ffc300 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffc400 0%, #ffc300 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffc400 0%, #ffc300 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc300',GradientType=0 );
      /* IE6-9 */
      height: 11px;
      width: 11px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      behavior: url('PIE/PIE.htc');
      position: absolute;
      left: -5px;
      top: 32%; }
  /* line 135, D:/Projects/UI-test/css/main.scss */
  header .main-deal {
    background: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url('PIE/PIE.htc');
    margin-top: 15px;
    padding: 10px;
    float: right; }
    /* line 142, D:/Projects/UI-test/css/main.scss */
    header .main-deal .action {
      background: #f2f2f2;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      behavior: url('PIE/PIE.htc');
      padding: 15px 18px;
      margin-bottom: 10px; }
      /* line 148, D:/Projects/UI-test/css/main.scss */
      header .main-deal .action .action-title {
        font-size: 26pt;
        font-weight: bold;
        color: #000000;
        margin-bottom: 10px; }
      /* line 155, D:/Projects/UI-test/css/main.scss */
      header .main-deal .action .about-action {
        font-size: 14pt;
        line-height: 23px;
        color: #595959; }
    /* line 162, D:/Projects/UI-test/css/main.scss */
    header .main-deal .action-photo {
      display: inline-block;
      height: 263px;
      width: 380px; }
    /* line 168, D:/Projects/UI-test/css/main.scss */
    header .main-deal .promo {
      background: #000000;
      display: inline-block;
      height: 263px;
      width: 380px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      behavior: url('PIE/PIE.htc');
      position: relative;
      float: right; }
      /* line 52, D:/Projects/UI-test/css/mixin */
      header .main-deal .promo > *:first-child {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        behavior: url('PIE/PIE.htc'); }
      /* line 58, D:/Projects/UI-test/css/mixin */
      header .main-deal .promo > *:last-child {
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        behavior: url('PIE/PIE.htc'); }
      /* line 177, D:/Projects/UI-test/css/main.scss */
      header .main-deal .promo .counter {
        background: #000000;
        height: 50px;
        color: #9c9c9c;
        padding: 0 28px 0 10px; }
        /* line 183, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .counter .text {
          float: left;
          font-size: 10pt;
          padding-top: 20px; }
        /* line 189, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .counter .clock {
          float: right;
          font-size: 20pt;
          font-weight: bold;
          padding-top: 14px; }
      /* line 198, D:/Projects/UI-test/css/main.scss */
      header .main-deal .promo .price-table {
        background: #2a2a2a;
        -webkit-box-shadow: inset 0 0 11px 3px #000;
        -moz-box-shadow: inset 0 0 11px 3px #000;
        box-shadow: inset 0 0 11px 3px #000;
        behavior: url('PIE/PIE.htc');
        height: 213px;
        padding: 35px 10px 10px 10px;
        position: relative; }
        /* line 205, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .price-table .price {
          display: inline-block;
          color: #FFFFFF;
          font-size: 36pt;
          font-weight: bold; }
        /* line 212, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .price-table .yellow-button {
          font-size: 22pt;
          font-weight: bold;
          padding-left: 16px;
          float: right;
          width: 190px; }
          /* line 219, D:/Projects/UI-test/css/main.scss */
          header .main-deal .promo .price-table .yellow-button:before {
            height: 21px;
            width: 21px;
            left: -9px;
            top: 25%; }
        /* line 227, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .price-table .note {
          background: url('../img/precent-img.png') no-repeat left center;
          padding: 5px 0 5px 30px;
          color: #FFFFFF;
          font-size: 10pt;
          float: right;
          width: 175px; }
        /* line 236, D:/Projects/UI-test/css/main.scss */
        header .main-deal .promo .price-table .price-counter {
          position: absolute;
          bottom: 10px;
          right: 10px;
          left: 10px; }
          /* line 242, D:/Projects/UI-test/css/main.scss */
          header .main-deal .promo .price-table .price-counter > li {
            display: inline-block;
            background: #212121;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            behavior: url('PIE/PIE.htc');
            padding: 2px 12px 12px 12px;
            color: #ffc400;
            text-align: center;
            font-size: 22pt;
            font-weight: bold;
            margin-left: 10px; }
            /* line 253, D:/Projects/UI-test/css/main.scss */
            header .main-deal .promo .price-table .price-counter > li .title {
              color: #5b5b5b;
              text-align: right;
              margin-bottom: 2px;
              font-size: 10pt;
              display: block; }
            /* line 262, D:/Projects/UI-test/css/main.scss */
            header .main-deal .promo .price-table .price-counter > li:nth-child(2):after {
              content: '_';
              color: #FFFFFF;
              font-size: 10pt;
              position: absolute;
              right: 129px; }
            /* line 270, D:/Projects/UI-test/css/main.scss */
            header .main-deal .promo .price-table .price-counter > li:nth-child(2):before {
              content: '_';
              color: #FFFFFF;
              font-size: 10pt;
              position: absolute;
              left: 127px;
              top: 18px; }
      /* line 283, D:/Projects/UI-test/css/main.scss */
      header .main-deal .promo:before {
        content: ' ';
        position: absolute;
        border: 10px solid transparent;
        border-right: 5px solid #000;
        top: 18px;
        left: -14px; }
    /* line 293, D:/Projects/UI-test/css/main.scss */
    header .main-deal .bottom-information {
      float: right; }
      /* line 296, D:/Projects/UI-test/css/main.scss */
      header .main-deal .bottom-information .fn {
        color: #2a2a2a;
        font-size: 8pt;
        vertical-align: middle; }
        /* line 301, D:/Projects/UI-test/css/main.scss */
        header .main-deal .bottom-information .fn .read-more {
          color: #df0000;
          text-decoration: underline; }
        /* line 306, D:/Projects/UI-test/css/main.scss */
        header .main-deal .bottom-information .fn:before {
          content: '* '; }
      /* line 311, D:/Projects/UI-test/css/main.scss */
      header .main-deal .bottom-information .twitter-like {
        border: 1px solid #2a2a2a;
        display: inline-block;
        width: 96px;
        height: 19px;
        vertical-align: middle; }
      /* line 319, D:/Projects/UI-test/css/main.scss */
      header .main-deal .bottom-information .facebook-like {
        border: 1px solid #2a2a2a;
        display: inline-block;
        height: 19px;
        width: 76px;
        vertical-align: middle; }
  /* line 329, D:/Projects/UI-test/css/main.scss */
  header .side-menu {
    float: left;
    width: 160px; }
    /* line 333, D:/Projects/UI-test/css/main.scss */
    header .side-menu .deal-day {
      background: #FFFFFF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      behavior: url('PIE/PIE.htc');
      padding: 24px 10px 20px 10px;
      color: #960000;
      position: relative;
      width: 135px;
      margin-top: 15px; }
      /* line 342, D:/Projects/UI-test/css/main.scss */
      header .side-menu .deal-day .date-title {
        line-height: 22px; }
      /* line 346, D:/Projects/UI-test/css/main.scss */
      header .side-menu .deal-day .day {
        font-size: 32pt;
        text-align: center;
        font-weight: bold; }
      /* line 352, D:/Projects/UI-test/css/main.scss */
      header .side-menu .deal-day:after {
        content: ' ';
        position: absolute;
        border: 17px solid transparent;
        border-left: 8px solid #FFFFFF;
        top: 16px;
        right: -24px; }
    /* line 362, D:/Projects/UI-test/css/main.scss */
    header .side-menu .left-bar {
      font-size: 12pt;
      margin-top: 20px; }
      /* line 366, D:/Projects/UI-test/css/main.scss */
      header .side-menu .left-bar > li {
        background: #2a2a2a;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        behavior: url('PIE/PIE.htc');
        width: 160px;
        padding: 15px 12px;
        margin-bottom: 1px; }
        /* line 373, D:/Projects/UI-test/css/main.scss */
        header .side-menu .left-bar > li:last-child {
          margin-bottom: 0; }
        /* line 376, D:/Projects/UI-test/css/main.scss */
        header .side-menu .left-bar > li a {
          color: #929292; }
        /* line 380, D:/Projects/UI-test/css/main.scss */
        header .side-menu .left-bar > li a:hover {
          color: #ffc400; }

/* line 388, D:/Projects/UI-test/css/main.scss */
.main {
  margin-bottom: 25px; }
  /* line 391, D:/Projects/UI-test/css/main.scss */
  .main .main-adv {
    width: 160px;
    float: left;
    padding-top: 20px; }
    /* line 396, D:/Projects/UI-test/css/main.scss */
    .main .main-adv .adv {
      height: 250px;
      width: 150px;
      border: 1px solid #2a2a2a;
      margin-bottom: 14px; }
    /* line 403, D:/Projects/UI-test/css/main.scss */
    .main .main-adv .app-store {
      background: url("../img/appStore.png") no-repeat;
      height: 52px; }
    /* line 408, D:/Projects/UI-test/css/main.scss */
    .main .main-adv .facebook-platform {
      width: 150px;
      height: 258px;
      border: 1px solid #2a2a2a;
      margin-top: 14px; }
  /* line 416, D:/Projects/UI-test/css/main.scss */
  .main .topics {
    margin: 40px 0;
    border-top: 2px groove #FFFFFF; }
    /* line 420, D:/Projects/UI-test/css/main.scss */
    .main .topics .left-content {
      width: 540px;
      margin: 0 10px;
      float: left; }
    /* line 426, D:/Projects/UI-test/css/main.scss */
    .main .topics .right-content {
      width: 220px;
      margin: 0 10px;
      float: right; }
      /* line 430, D:/Projects/UI-test/css/main.scss */
      .main .topics .right-content .title {
        background: #e4e4e4;
        color: #7a7a7a; }
      /* line 435, D:/Projects/UI-test/css/main.scss */
      .main .topics .right-content .text {
        color: #595959; }
    /* line 440, D:/Projects/UI-test/css/main.scss */
    .main .topics .location {
      width: 540px;
      margin: 10px;
      float: left;
      border-top: 2px groove #FFFFFF; }
      /* line 446, D:/Projects/UI-test/css/main.scss */
      .main .topics .location .map {
        width: 300px;
        height: 230px;
        border: 1px solid #2a2a2a;
        margin: 40px 10px 0 10px;
        float: left; }
      /* line 454, D:/Projects/UI-test/css/main.scss */
      .main .topics .location .location-info {
        background: url('../img/maps-point.png') no-repeat top left;
        float: right;
        color: #7d7d7d;
        font-size: 11pt;
        width: 220px;
        padding-left: 50px;
        margin-top: 40px; }
        /* line 463, D:/Projects/UI-test/css/main.scss */
        .main .topics .location .location-info a {
          display: block;
          color: #fd0000; }
          /* line 467, D:/Projects/UI-test/css/main.scss */
          .main .topics .location .location-info a:first-child {
            margin-top: 13px; }
  /* line 476, D:/Projects/UI-test/css/main.scss */
  .main .title {
    background: #960000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url('PIE/PIE.htc');
    color: #FFFFFF;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    padding: 14px 0;
    margin: -21px 0 20px 20px;
    font-size: 12pt; }
  /* line 488, D:/Projects/UI-test/css/main.scss */
  .main .text {
    clear: both;
    font-size: 11pt;
    line-height: 24px;
    padding-bottom: 27px; }
    /* line 494, D:/Projects/UI-test/css/main.scss */
    .main .text .more {
      color: #f90000; }
  /* line 499, D:/Projects/UI-test/css/main.scss */
  .main .topics-wrap {
    overflow: hidden; }
  /* line 503, D:/Projects/UI-test/css/main.scss */
  .main .promo {
    background: #2f2f2f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url('PIE/PIE.htc');
    padding-top: 33px;
    overflow: hidden;
    margin-top: 70px; }
    /* line 510, D:/Projects/UI-test/css/main.scss */
    .main .promo .promo-wrap {
      border-top: 2px groove #444; }
      /* line 513, D:/Projects/UI-test/css/main.scss */
      .main .promo .promo-wrap .title {
        background: #464646;
        padding-left: 16px;
        padding-right: 16px;
        width: 300px; }
      /* line 520, D:/Projects/UI-test/css/main.scss */
      .main .promo .promo-wrap .text {
        display: inline-block;
        width: 540px;
        margin: 0 10px;
        color: #c7c7c7;
        padding-bottom: 0; }
        /* line 527, D:/Projects/UI-test/css/main.scss */
        .main .promo .promo-wrap .text .more {
          color: #FFFFFF; }
      /* line 532, D:/Projects/UI-test/css/main.scss */
      .main .promo .promo-wrap .promo-img {
        width: 540px;
        height: 305px;
        margin: 10px;
        float: left; }
      /* line 539, D:/Projects/UI-test/css/main.scss */
      .main .promo .promo-wrap .news-list {
        float: right;
        width: 240px;
        margin: 10px 0;
        padding: 0 10px;
        border-left: 2px groove #444; }
        /* line 546, D:/Projects/UI-test/css/main.scss */
        .main .promo .promo-wrap .news-list > li {
          margin-bottom: 32px; }
          /* line 549, D:/Projects/UI-test/css/main.scss */
          .main .promo .promo-wrap .news-list > li .news-img {
            display: inline-block;
            vertical-align: top; }
          /* line 554, D:/Projects/UI-test/css/main.scss */
          .main .promo .promo-wrap .news-list > li .news-content {
            display: inline-block;
            width: 140px;
            font-size: 9pt;
            color: #FFFFFF;
            line-height: 14px;
            vertical-align: top; }
            /* line 562, D:/Projects/UI-test/css/main.scss */
            .main .promo .promo-wrap .news-list > li .news-content .news-title {
              color: #ffc400; }

/* line 572, D:/Projects/UI-test/css/main.scss */
footer {
  background: url('../img/footer-bg.png'), #383838;
  /* Old browsers */
  background: url('../img/footer-bg.png'), -moz-linear-gradient(top, #383838 0%, #353636 32%, #000000 100%);
  /* FF3.6+ */
  background: url('../img/footer-bg.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(32%, #353636), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: url('../img/footer-bg.png'), -webkit-linear-gradient(top, #383838 0%, #353636 32%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: url('../img/footer-bg.png'), -o-linear-gradient(top, #383838 0%, #353636 32%, #000000 100%);
  /* Opera 11.10+ */
  background: url('../img/footer-bg.png'), -ms-linear-gradient(top, #383838 0%, #353636 32%, #000000 100%);
  /* IE10+ */
  background: url('../img/footer-bg.png'), linear-gradient(to bottom, #383838 0%, #353636 32%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#000000', GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #121212;
  overflow: hidden;
  padding-bottom: 25px; }
  /* line 577, D:/Projects/UI-test/css/main.scss */
  footer .centering {
    padding: 0 10px; }
    /* line 580, D:/Projects/UI-test/css/main.scss */
    footer .centering > * {
      width: 215px;
      margin: 0 10px;
      float: left; }
  /* line 587, D:/Projects/UI-test/css/main.scss */
  footer .red-line {
    background: url("../img/footer-red-bg.png"), #db0000;
    height: 34px;
    border-bottom: 1px solid #484848;
    margin-bottom: 32px; }
  /* line 594, D:/Projects/UI-test/css/main.scss */
  footer .question .content {
    background: url("../img/question.png") no-repeat left; }
  /* line 598, D:/Projects/UI-test/css/main.scss */
  footer .business .content {
    background: url("../img/business.png") no-repeat left; }
  /* line 602, D:/Projects/UI-test/css/main.scss */
  footer .dealin-title {
    color: #ffc400;
    font-weight: bold;
    font-size: 18pt; }
  /* line 608, D:/Projects/UI-test/css/main.scss */
  footer .bottom-bar li {
    border-bottom: 1px solid #472122;
    padding: 16px 0 6px 0; }
    /* line 612, D:/Projects/UI-test/css/main.scss */
    footer .bottom-bar li a {
      color: #FFFFFF;
      font-size: 10pt; }
  /* line 618, D:/Projects/UI-test/css/main.scss */
  footer .title {
    color: #df0000;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22pt; }
  /* line 625, D:/Projects/UI-test/css/main.scss */
  footer .content {
    padding: 10px 0 10px 70px;
    color: #FFFFFF;
    font-size: 12pt;
    line-height: 22px; }
  /* line 632, D:/Projects/UI-test/css/main.scss */
  footer button {
    background: #df0000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url('PIE/PIE.htc');
    padding: 9px 0 9px 10px;
    width: 100%;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left; }

/* line 650, D:/Projects/UI-test/css/main.scss */
.ie header .yellow-button:before {
  content: ' ';
  background: #ffc400;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffc400 0%, #ffc300 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc400), color-stop(100%, #ffc300));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffc400 0%, #ffc300 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffc400 0%, #ffc300 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffc400 0%, #ffc300 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffc400 0%, #ffc300 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc300',GradientType=0 );
  /* IE6-9 */
  height: 11px;
  width: 11px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url('PIE/PIE.htc');
  position: absolute;
  left: -5px;
  top: 32%; }
/* line 662, D:/Projects/UI-test/css/main.scss */
.ie header .main-deal .price-table .note {
  margin-top: 5px; }
/* line 667, D:/Projects/UI-test/css/main.scss */
.ie header .price-counter > li:nth-child(2):after {
  content: '_';
  color: #FFFFFF;
  font-size: 10pt;
  position: absolute;
  right: 128px !important; }


/*# sourceMappingURL=main.css.map */