@mixin gradient-background ($color, $url, $first-color, $second-color, $third-color, $middle-percent, $startColor, $endColor) {
    background: $url, $color; /* Old browsers */
    background: $url, -moz-linear-gradient(top, $first-color 0%, $second-color $middle-percent, $third-color 100%); /* FF3.6+ */
    background: $url, -webkit-gradient(linear, left top, left bottom, color-stop(0%, $first-color), color-stop( $middle-percent, $second-color), color-stop(100%, $third-color)); /* Chrome,Safari4+ */
    background: $url, -webkit-linear-gradient(top,  $first-color 0%, $second-color $middle-percent, $third-color 100%); /* Chrome10+,Safari5.1+ */
    background: $url, -o-linear-gradient(top,  $first-color 0%, $second-color $middle-percent, $third-color 100%); /* Opera 11.10+ */
    background: $url, -ms-linear-gradient(top,  $first-color 0%, $second-color $middle-percent, $third-color 100%); /* IE10+ */
    background: $url, linear-gradient(to bottom,  $first-color 0%, $second-color $middle-percent, $third-color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0 ); /* IE6-9 */

}
@mixin button-background {
    background: rgb(255,196,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,196,0,1) 0%, rgba(255,195,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,196,0,1)), color-stop(100%,rgba(255,195,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,196,0,1) 0%,rgba(255,195,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,196,0,1) 0%,rgba(255,195,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,196,0,1) 0%,rgba(255,195,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,196,0,1) 0%,rgba(255,195,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ffc300',GradientType=0 ); /* IE6-9 */

}

@mixin  box-shadow($horizontalLength, $verticalLength, $blurRadius, $spread, $color, $inset) {
    -webkit-box-shadow: $inset $horizontalLength $verticalLength  $blurRadius $spread $color;
    -moz-box-shadow: $inset $horizontalLength $verticalLength  $blurRadius $spread $color;
    box-shadow: $inset $horizontalLength $verticalLength  $blurRadius $spread $color;

    behavior: url('PIE/PIE.htc');
}

@mixin  border-radius($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    border-radius: $x;
    behavior: url('PIE/PIE.htc');
}

@mixin  border-radius-left($x) {
    -webkit-border-radius: $x 0 0 $x;
    -moz-border-radius: $x 0 0 $x;
    border-radius: $x 0 0 $x;
    behavior: url('PIE/PIE.htc');
}

@mixin  border-radius-child($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    border-radius: $x;
    behavior: url('PIE/PIE.htc');

    > *:first-child {
        -webkit-border-radius: $x $x 0 0;
        -moz-border-radius: $x $x 0 0;
        border-radius: $x $x 0 0;
        behavior: url('PIE/PIE.htc');
    }
    > *:last-child {
        -webkit-border-radius: 0 0 $x $x;
        -moz-border-radius: 0 0 $x $x;
        border-radius: 0 0 $x $x;
        behavior: url('PIE/PIE.htc');
    }

}